@font-face {
   font-family: myFirstFont;
   src: url(Derrida-wvM6.ttf);
}
 
html , body {
    height: 100%;
}
body {
    /* background: linear-gradient(blue, 10%, pink); */
    background: linear-gradient(blue, red, blue);
}
.banner {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    /* height: 22%; */
    background-color: white;
   font-family: myFirstFont;
}
ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    width: 120px;
    background-color: saddlebrown;
    height: 85%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: false; /* Enable scrolling if the sidenav has too much content */
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: chocolate;
    color: white;
}
.container {
   /* margin-left: 20%; */
margin-top: 100px;
}
.post {
   margin-left: 150px;
    background-color: navajowhite;
    width: calc(100% - 150px);
}
