@font-face {
    font-family: myFirstFont;
    src: url(BohlamHalfStripes-ywwmV.ttf);
}
.nophones {display:none;}
.visible {display:display;}

@media (max-width : 560px) {
    .nophones {display:block;}
    .visible {display:none;}
}
html , body {
    height: 100%;
    background-color: pink;
}
a { color: inherit; } 
.banner {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 64px;
    background-color: lightgreen;
    overflow: hidden;
}
.banner h1 {
    font-family: myFirstFont;
    float: left;
    /* margin-left: calc(60px); */
    font-size: 400%;
    /* transform: scale(1.5); */
    /* position: fixed; */
    top: -5px;
    left: 0px;
    margin-top: -4px;
    margin-left: 5px;
    right: 0px;
}
.banner img{
    float: right;
    transform: scale(0.7);
    /* margin: -10%; */
}
.container {
    /* margin-left: 20%; */
    margin-top: 89px;
}
.post {
    background-color: lightgreen;
    margin: 25px 50px 25px 50px;
}
.container h2 {
text-align: center
}

